TextField{
	-fx-cursor:hand;
	-fx-background-radius:5.0;
	-fx-border-radius:5.0;
	-fx-text-fill:#000000;
}
TextField:focused{
	-fx-background-color:#98FB98;
	-fx-border-color:#2E8B57;
	-fx-background-radius:5.0;
	-fx-border-radius:5.0;
	-fx-effect:dropshadow(three-pass-box, #52E252, 3,0.5,2,2)
}
Button{
	-fx-background-color:#AAEBAA;
	-fx-background-radius:10.0;
	-fx-border-radius:10.0;
}
Button:focused{
	-fx-cursor:hand;
	-fx-background-color:#98FB98;
	-fx-border-color:#2E8B57;
	-fx-background-radius:10.0;
	-fx-border-radius:10.0;
	-fx-effect:dropshadow(three-pass-box, #52E252, 3,0.5,2,2)
}
Button:hover{
	-fx-cursor:hand;
	-fx-background-color:#98FB98;
	-fx-border-color:#2E8B57;
	-fx-background-radius:10.0;
	-fx-border-radius:10.0;
	-fx-effect:dropshadow(three-pass-box, #52E252, 3,0.5,2,2)
}
Label:hover{
	-fx-cursor:hand;
}